* {
    margin: 0;
    padding: 0;
}

.SK {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url('img.png');
    background-position: center;
    background-size: cover;
    position: absolute;
}